@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/gilroy/gilroy-regular.woff') format('woff'),
    url('./fonts/gilroy/gilroy-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: bold;
  src: url('./fonts/gilroy/gilroy-extrabold.woff') format('woff'),
    url('./fonts/gilroy/gilroy-extrabold.woff2') format('woff2');
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: light;
  src: url('./fonts/gilroy/gilroy-light.woff') format('woff'),
    url('./fonts/gilroy/gilroy-light.woff2') format('woff2');
}

@font-face {
  font-family: 'DIN Pro';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/dinpro/din_pro.woff') format('woff'),
    url('./fonts/dinpro/din_pro.woff2') format('woff2');
}

@font-face {
  font-family: 'DIN Pro';
  font-style: normal;
  font-weight: bold;
  src: url('./fonts/dinpro/din_pro_bold.woff') format('woff'),
    url('./fonts/dinpro/din_pro_bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Circe';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/circe/circe.woff') format('woff'),
    url('./fonts/circe/circe.woff2') format('woff2');
}

body {
  font-family: 'DIN Pro', sans-serif;
  margin: 0px;
  width: 1024px;
  height: 768px;
}

div {
  display: flex;
  flex-direction: column;
}

h1,
p {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-top: 0px;
}

.slider {
  height: 768px;
  width: 1024px;
  overflow: hidden;
  position: relative;
}

.slides-container {
  display: flex;
  flex-direction: row;
  height: 768px;
  width: 3072px;
  background-image: url('../images/backgrounds/bg.png');
  background-size: contain;
  transition: transform 0.5s ease-in-out;
}

.slide {
  flex: 1 0 100%;
  position: relative;
}

.inner-container {
  margin-top: 27px;
  margin-left: 67px;
  padding-top: 0px;
  padding-left: 0px;
}

.animated {
  position: relative;
  transition: transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.header {
  width: 156px;
  height: 29px;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.home-btn {
  height: 20px;
  width: 22px;
  margin-right: 24px;
  border: none;
  background: none;
  cursor: pointer;
}

.home-line {
  height: 31px;
  width: 7px;
  font-size: 30px;
}

.header-title {
  margin-left: 18px;
  width: 85px;
  height: 20px;
}

.header-text {
  margin: 0px;
  padding: 0px;
  font-family: 'Circe';
  font-size: 18px;
  letter-spacing: 2.5px;
}

.content {
  margin-top: 67px;
  width: 922px;
  height: 584px;
}

.logo {
  width: 60px;
  height: 14px;
  margin-top: 43px;
  z-index: 1;
}

.main-container {
  margin-top: 40px;
  width: 922px;
}

.main-greeting {
  width: 125px;
  height: 30px;
}

.corner-text {
  font-size: 25px;
  letter-spacing: 2px;
}

.main-text-container {
  width: 922px;
  height: 350px;
}

.size-80 {
  font-size: 110px;
}

.main-text-normal {
  font-family: 'Gilroy';
  font-weight: normal;
  letter-spacing: 2px;
}

.main-text-bold {
  font-family: 'Gilroy';
  font-weight: bold;
}

.main-inner {
  width: 850px;
  height: 98px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.main-btn {
  width: 290px;
}

.btn {
  display: flex;
  height: 83px;
  align-items: center;
  border: none;
  border-radius: 50px;
  background-color: #ff6a9f;
}

.btn-text {
  font-family: 'DIN Pro';
  font-weight: normal;
  font-size: 26px;
}

.btn-logo {
  width: 58px;
  margin: 0px 15px;
}

.fixed {
  position: fixed;
}

.animate {
  position: absolute;
  transition: all 2s ease-in-out;
}

.pinkSperm1 {
  width: 550px;
  left: 430px;
  top: 150px;
}

.bakti2 {
  width: 200px;
  bottom: -90px;
  left: 500px;
  animation: moveAndScaleB2 10s linear infinite;
}

@keyframes moveAndScaleB2 {
  25% {
    transform: translate(0, 0) scale(1.2);
  }
  50% {
    transform: translate(-10px, -10px) scale(1);
  }
}

.bakti3 {
  width: 100px;
  left: 850px;
  top: 200px;
  animation: moveAndRotateB3 20s linear infinite;
}

@keyframes moveAndRotateB3 {
  0% {
    transform: rotate(0deg) translate(-50px, -50px);
  }
  50% {
    transform: rotate(30deg) translate(-130px, -100px);
  }
}

.bakti1 {
  width: 70px;
  z-index: -1;
  left: 25px;
  bottom: 195px;
  animation: moveB1 20s linear infinite;
}

@keyframes moveB1 {
  25% {
    transform: translate(-5px, -5px);
  }
  75% {
    transform: translate(70px, 70px);
  }
}

.bakti4 {
  width: 55px;
  height: 50px;
  left: 740px;
  top: 50px;
  z-index: -1;
  animation: moveAndScaleB4 20s ease-in-out infinite;
}

@keyframes moveAndScaleB4 {
  0% {
    transform: translateX(0) scale(0.9);
  }
  50% {
    transform: translateX(10px) scale(1.1);
  }
  100% {
    transform: translateX(0) scale(0.9);
  }
}

.stick {
  width: 130px;
  height: 110px;
  left: 0px;
  top: 80px;
  z-index: -1;
}

.unfocusSperm {
  width: 260px;
  bottom: 50px;
  left: 0px;
}

.unfocusBakti {
  width: 70px;
  bottom: 50px;
  left: 320px;
}

.unfocusBakti1 {
  width: 60px;
  top: 20px;
  left: 930px;
}

.text-slide-container {
  margin-top: 0px;
  margin-left: 0px;
}

.text-scroll-box {
  margin-top: 45px;
  width: 830px;
  height: 450px;
  flex-direction: row;
  overflow: auto;
  direction: rtl;
}

.text-scroll-box::-webkit-scrollbar {
  width: 20px;
  scroll-behavior: smooth;
}

.text-scroll-box::-webkit-scrollbar-track {
  background: black;
  border: 8px solid transparent;
  background-clip: content-box;
}

.text-scroll-box::-webkit-scrollbar-thumb {
  border-radius: 20px;
  width: 10px;
  border: 20px solid #ff6a9f;
  background-clip: content-box;
}

.text-sroll-panel {
  border: solid;
  border: black;
  width: 34px;
  height: 440px;
  overflow: auto;
  margin-right: 17px;
}

.text-scroll-container {
  width: 777px;
  height: 450px;
  background-color: #fff;
  border-radius: 50px;
  margin-left: 20px;
}

.text-scroll-inner-container {
  margin: 30px 32px 0px;
}

.text-scroll-text {
  font-family: 'DIN Pro';
  font-weight: normal;
  font-size: 22px;
  direction: ltr;
}

.text-scroll-text-bold {
  font-family: 'DIN Pro';
  font-weight: bold;
}

.back-animate {
  position: absolute;
  z-index: -1;
}

.sperm-animate-1 {
  animation: 5s show-1 ease-in-out infinite;
}

@keyframes show-1 {
  from {
    transform: translate(40px, 10px);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
  }
}

.sperm-animate-2 {
  animation: 3s show-1 ease-in-out infinite;
  animation-delay: 3s;
}

.sperm-animate-3 {
  animation: 3s show-1 ease-in-out infinite;
  animation-delay: 4s;
}

.text-sperm1 {
  width: 600px;
  top: 100px;
  left: calc(989px + 500px);
}

.text-sperm2 {
  width: 400px;
  top: 100px;
  left: calc(989px + 700px);
}

.text-sperm3 {
  width: 200px;
  top: 70px;
  left: calc(989px + 800px);
}

.text-sperm4 {
  width: 400px;
  bottom: 200px;
  left: calc(989px + 900px);
}

.text-sperm5 {
  width: 200px;
  bottom: 200px;
  left: calc(989px + 900px);
}

.product {
  position: relative;
  display: flex;
}

.product-bottle {
  width: 218px;
  z-index: 5;
  left: -20px;
  position: relative;
  filter: brightness(100%);
}

.product-main-container {
  position: absolute;
  width: 825px;
  height: 585px;
  margin-left: 75px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.advantages-container {
  margin-top: 10px;
  width: 820px;
  height: 585px;
  background: #fff;
  border-radius: 40px;
}

.advantages-inner-container {
  margin: 45px 30px 45px 210px;
  flex-direction: row;
}

.product-header {
  font-family: 'DIN Pro';
  font-size: 30px;
  letter-spacing: 4px;
}

.col-1 {
  width: 535px;
}

.product-subheader {
  font-family: 'Gilroy';
  font-weight: normal;
  font-size: 90px;
  letter-spacing: 10px;
  margin-top: 0px;
  padding-left: 0;
  margin-left: 0;
}

.product-subheader span {
  font-family: 'Gilroy';
  font-weight: bold;
}

.col-2 {
  align-items: center;
  width: 40px;
  height: 40px;
}

.list-container {
  width: 490px;
  height: 295px;
  margin-top: 20px;
  justify-content: space-between;
}

.list-btn-group {
  margin-top: 35px;
  width: 93px;
  height: 25px;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.list-btn {
  border: none;
  background: none;
  cursor: pointer;
}

.list-circle {
  width: 8px;
  height: 8px;
  border: solid black;
  border-radius: 100px;
}

.active {
  background: #ff6a9f;
  border: solid #ff6a9f;
}

.list-item-group {
  flex-direction: column;
  width: 480px;
  height: 95px;
  margin-top: 10px;
}

.list-item-number {
  font-family: 'Gilroy';
  font-weight: bold;
  color: #8cc9e8;
  font-size: 22px;
}

.list-item-text {
  margin-top: 10px;
  font-family: 'DIN Pro';
  font-weight: normal;
  font-size: 23px;
}

.product-container {
  margin-top: 10px;
  width: 820px;
  height: 585px;
  border-radius: 40px;
}

.product-innner-container {
  margin-top: 45px;
  flex-direction: column;
}

.product-row-1 {
  margin-left: 210px;
  width: 485px;
  height: 130px;
}

.product-row-2 {
  margin-left: 90px;
  width: 730px;
  height: 305px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.product-col-1 {
  flex-direction: column;
  width: 400px;
  height: 270px;
  position: relative;
  margin-top: 80px;
}

.product-card-container-1 {
  width: 420px;
  height: 315px;
}

.product-card-1 {
  background: white;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  border-radius: 40px;
  width: 415px;
  height: 260px;
  z-index: 0;
  position: absolute;
  top: 10px;
}

.product-card-inner {
  margin-left: 150px;
  width: 60%;
  font-size: 23px;
  position: relative;
  z-index: 1;
  bottom: 25px;
}

.icon {
  width: 65px;
  height: 60px;
  margin-bottom: 20px;
}

.product-col-2 {
  flex-direction: column;
  width: 270px;
  height: 270px;
  position: relative;
  margin-top: 80px;
  margin-left: 60px;
}

.dark {
  filter: brightness(80%);
}

.product-card-2 {
  background: white;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  border-radius: 40px;
  width: 270px;
  height: 150px;
  z-index: 0;
  position: absolute;
  top: 10px;
}

.product-card-container-2 {
  width: 270px;
  height: 200px;
}

.product-card-inner-2 {
  margin-left: 50px;
  width: 50%;
  font-size: 23px;
  position: relative;
  z-index: 1;
  bottom: 25px;
}

.close-btn {
  border: none;
  color: black;
  width: 70px;
  background: none;
  cursor: pointer;
  margin-top: -12px;
}

.absolute {
  position: absolute;
}

.bubble1 {
  width: 40px;
  height: 40px;
  left: 120px;
  top: -20px;
  z-index: 4;
  animation: moveB1 10s linear infinite;
}

@keyframes moveB1 {
  25% {
    transform: translate(10px, 10px);
  }
  50% {
    transform: translate(0, 0);
  }
  75% {
    transform: translate(10px, 0);
  }
}

.bubble2 {
  width: 60px;
  height: 60px;
  left: 110px;
  top: 70px;
  z-index: 6;
  animation: moveB2 10s linear infinite;
}

@keyframes moveB2 {
  50% {
    transform: translate(20px, 20px);
  }
}

.bubble3 {
  width: 40px;
  height: 40px;
  top: 120px;
  z-index: 4;
  animation: moveB3 10s linear infinite;
}

@keyframes moveB3 {
  50% {
    transform: translate(-10px, -10px);
  }
}

.bubble4 {
  width: 100px;
  height: 100px;
  left: 120px;
  top: 220px;
  z-index: 4;
  animation: moveB4 10s linear infinite;
}

@keyframes moveB4 {
  25% {
    transform: translate(20px, 0);
  }
  50% {
    transform: translate(20px, 20px) scale(1.2);
  }
  75% {
    transform: translate(20px, 0) scale(1);
  }
}

.bubble5 {
  width: 30px;
  height: 30px;
  left: -60px;
  bottom: 250px;
  z-index: 4;
  animation: moveB5 10s linear infinite;
}

@keyframes moveB5 {
  25% {
    transform: translate(10px, -10px);
  }
  50% {
    transform: translate(0, 0);
  }
  75% {
    transform: translate(10px, 10px);
  }
}

.bubble6 {
  width: 80px;
  height: 80px;
  left: -50px;
  bottom: 120px;
  z-index: 6;
  animation: moveB6 10s linear infinite;
}

@keyframes moveB6 {
  30% {
    transform: translate(0, 0) scale(1);
  }
  60% {
    transform: translate(20px, 20px) scale(0.9);
  }
}

.bubble7 {
  width: 60px;
  height: 60px;
  left: 160px;
  bottom: 100px;
  z-index: 4;
  animation: moveB7 10s linear infinite;
}

@keyframes moveB7 {
  50% {
    transform: translate(30px, 0);
  }
}

.bubble8 {
  width: 150px;
  height: 150px;
  left: 100px;
  bottom: -80px;
  z-index: 6;
  animation: moveB8 10s linear infinite;
}

@keyframes moveB8 {
  50% {
    transform: translate(10px, 10px) scale(0.9);
  }
}
