@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: normal;
  src: 
    url("./fonts/gilroy/gilroy-regular.woff") format('woff'),
    url("./fonts/gilroy/gilroy-regular.woff2") format('woff2'),
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: bold;
  src: 
    url("./fonts/gilroy/gilroy-extrabold.woff") format('woff'),
    url("./fonts/gilroy/gilroy-extrabold.woff2") format('woff2');
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: light;
  src: 
    url("./fonts/gilroy/gilroy-light.woff") format('woff'),
    url("./fonts/gilroy/gilroy-light.woff2") format('woff2');
}

@font-face {
	font-family: 'DIN Pro';
  font-style: normal;
  font-weight: normal;
  src: 
    url("./fonts/dinpro/din_pro.woff") format('woff'),
    url("./fonts/dinpro/din_pro.woff2") format('woff2');
}

@font-face {
	font-family: 'DIN Pro';
  font-style: normal;
  font-weight: bold;
  src: 
    url("./fonts/dinpro/din_pro_bold.woff") format('woff'),
    url("./fonts/dinpro/din_pro_bold.woff2") format('woff2');
}

@font-face {
	font-family: 'Circe';
  font-style: normal;
  font-weight: normal;
  src: 
    url("./fonts/circe/circe.woff") format('woff'),
    url("./fonts/circe/circe.woff2") format('woff2');
}

body {
  font-family: "DIN Pro", sans-serif;
  margin: 0px;
  width: 1024px;
  height: 768px;
}

div {
  display: flex;
  flex-direction: column;
}

h1, p {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-top: 0px;
}

.inner-container {
  margin-top: 27px;
  margin-left: 67px;
  padding-top: 0px;
  padding-left: 0px;
}

.header {
  width: 156px;
  height: 29px;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.home-btn {
  height: 20px;
  width: 22px;
  margin-right: 24px;
  border: none; 
  background: none;
  cursor: pointer;
}

.home-line {
  height: 31px;
  width: 7px;
  font-size: 30px;
}

.header-title {
  margin-left: 18px;
  width: 85px;
  height: 20px;
}

.header-text{
  margin: 0px;
  padding: 0px;
  font-family: 'Circe';
  font-size: 18px;
  letter-spacing: 2.5px;
}

.content {
  margin-top: 67px;
  width: 922px;
  height: 584px;
}

.logo {
  width: 60px;
  height: 14px;
  margin-top: 43px;
  z-index: 1;
}

.main-container {
  width: 922px;
  height: 400px;
  
}

.main-greeting {
  width: 125px;
  height: 30px;
  margin-bottom: 30px;
}

.corner-text {
  font-size: 25px;
  letter-spacing: 2px;
}

.main-text-container {
  width: 922px;
  height: 350px;
}

.size-80 {
  font-size: 110px;
}

.main-text-normal {
  font-family: 'Gilroy';
  font-weight: normal;
  letter-spacing: 2px;
  margin: 15px 0px;
}

.main-text-bold {
  font-family: 'Gilroy';
  font-weight: bold;
  margin-left: 30px;
}

.main-inner {
  width: 850px;
  height: 98px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.main-btn {
  display: flex;
  align-items: center;
  width: 290px;
  height: 83px;
  border: none;
  border-radius: 50px;
  background-color: #ff6a9f;
}

.main-btn-text {
  font-family: 'DIN Pro';
  font-weight: normal;
  font-size: 26px;
}

.main-btn-logo {
  width: 58px;
  margin: 0px 15px;
}

.text-slide-container {
  margin-top: 0px;
  margin-left: 0px;
}

.text-scroll-box {
  margin-top: 45px;
  width: 830px;
  height: 450px;
  flex-direction: row;
  overflow: auto;
  direction: rtl;
}

.text-scroll-box::-webkit-scrollbar {
  width: 20px;
  scroll-behavior: smooth;
}

.text-scroll-box::-webkit-scrollbar-track {
  background: black;
  border: 8px solid transparent;
  background-clip: content-box;
}


.text-scroll-box::-webkit-scrollbar-thumb {
  border-radius: 20px;
  width: 10px;
  border: 20px solid #ff6a9f; 
  background-clip: content-box;
}

.text-sroll-panel {
  border: solid;
  border: black;
  width: 34px;
  height: 440px;
  overflow: auto;
  margin-right: 17px;
}

.text-scroll-container {
  width: 777px;
  height: 450px;
  background-color: #fff;
  border-radius: 50px;
  margin-left: 20px;
}


.text-scroll-inner-container {
  margin: 30px 32px 0px;
}

.text-scroll-text {
  font-family: 'DIN Pro';
  font-weight: normal;
  font-size: 22px;
  direction: ltr;
}

.text-scroll-text-bold {
  font-family: 'DIN Pro';
  font-weight: bold;
}

.product-bottle {
  display: flex;
  width: 230px;
  height: 672px;
  z-index: 1;
  position: absolute;
  top: 91px;
  left: 55px
}

.product-main-container {
  width: 825px;
  height: 585px;
  margin-left: 75px;
}

.advantages-container {
  margin-top: 10px;
  width: 820px;
  height: 585px;
  background: #fff;
  border-radius: 40px;
}

.advantages-inner-container {
  margin: 45px 30px 45px 210px ;
  flex-direction: row;
}

.advantages-header {
  font-family: 'DIN Pro';
  font-size: 30px;
  letter-spacing: 4px;
}

.col-1{
  width: 535px;
}

.advantages-subheader {
  font-family: 'Gilroy';
  font-weight: normal;
  font-size: 90px;
  letter-spacing: 10px;
  margin-top: 0px;
  padding-left: 0;
  margin-left: 0;
}

.advantages-subheader span {
  font-family: 'Gilroy';
  font-weight: bold;
}

.col-2 {
  align-items: center;
  width: 40px;
  height: 40px;
}

.list-container {
  width: 490px;
  height: 295px;
  margin-top: 20px;
  justify-content: space-between;
}

.list-btn-group {
  margin-top: 35px;
  width: 93px;
  height: 25px;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.list-btn {
  border: none;
  background: none;
  cursor: pointer;
}

.list-circle {
  width: 8px;
  height: 8px;
  border: solid black;
  border-radius: 100px;
}

.active {
  background: #ff6a9f;
  border: solid #ff6a9f;
}

.list-item-group {
  flex-direction: column;
  width: 480px;
  height: 95px;
  margin-top: 10px;
}

.list-item-number {
  font-family: 'Gilroy';
  font-weight: bold;
  color: #8cc9e8;
  font-size: 22px;
}

.list-item-text {
  margin-top: 10px;
  font-family: 'DIN Pro';
  font-weight: normal;
  font-size: 23px;
}